<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="com.dms.request.DataGridRequest" alias="DataGridRequest"/>
        <typeAlias type="com.dms.request.ProjectCommissionFilterRequest" alias="ProjectCommissionFilterRequest"/>
        <typeAlias type="com.dms.request.FinanceFilterRequest" alias="FinanceFilterRequest"/>
        <typeAlias type="com.dms.request.BaseFilterRequest" alias="BaseFilterRequest"/>
        <typeAlias type="com.dms.domain.Position" alias="Position"/>
        <typeAlias type="com.dms.domain.Month" alias="Month"/>
        <typeAlias type="com.dms.domain.Attendance" alias="Attendance"/>
        <typeAlias type="com.dms.dto.EmployeeDto" alias="EmployeeDto"/>
        <typeAlias type="com.dms.dto.FinanceDto" alias="FinanceDto"/>
        <typeAlias type="com.dms.dto.ProjectCommissionDto" alias="ProjectCommissionDto"/>
        <typeAlias type="com.dms.dto.ChargeDetailDto" alias="ChargeDetailDto"/>
        <typeAlias type="com.dms.dto.UserDto" alias="UserDto"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.dms.handler.LocalDateTimeHandler" javaType="org.joda.time.LocalDateTime"
                     jdbcType="DATE"/>
    </typeHandlers>
</configuration>