<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="com.dms.domain.MiniRequest" alias="MiniRequest"/>
        <typeAlias type="com.dms.domain.Employee" alias="Employee"/>
        <typeAlias type="com.dms.domain.Position" alias="Position"/>
        <typeAlias type="com.dms.domain.Month" alias="Month"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.dms.handler.LocalDateTimeHandler" javaType="org.joda.time.LocalDateTime"
                     jdbcType="DATE"/>
    </typeHandlers>
</configuration>